.search-results {
    display: flex;
    flex-wrap: wrap;
}

.product-wrapper {
    box-sizing: border-box;
    width: calc(100% / 4);
    padding: 4px;
}

@media (max-width: 1024px) {
    .product-wrapper {
        width: calc(100% / 2);
    }
}

.product-card {
    box-sizing: border-box;
    
    padding: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    filter: brightness(0.97);
    font-weight: bold;
    transition: outline .1s ease-out, box-shadow .1s ease-out, transform .1s ease-out, filter .1s ease-out;
    outline: 0 white;
}

.product-card:hover {
    filter: brightness(0.972);
    transform: scale(1.02);
    outline: 6px solid white;
    outline-offset: -3px;
    box-shadow: 0 0 40px -20px black;
    z-index: 1;
}

.product-card .picture {
    width: 100%;
    padding-bottom: 66%; /* height equals to width */
    color: red;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-card .upper {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    cursor: auto;
}

.product-card .upper button {
    height: fit-content;
    width: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.2);
}

.product-card .upper .favorite {
    font-size: 24px;
}

.product-card .upper .add-to-cart {
    font-size: 28px;
}

.product-card .lower {
    display: flex;
    flex-direction: column;
}

.product-card .brand {
    opacity: .6;
}

.product-card .product-name {
    font-size: 18px;
    height: 45px;
}

.product-card .price {
    font-size: 26px;
    margin-top: 10px;
}


.product-card .rating {
    font-size: 18px;
    display: flex;
    position: relative;
    width: fit-content;
}

.product-card .rating-amount {
    opacity: 0.5;
    font-size: 16px;
}

.product-card .rating .stars {
    position: relative;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
}

.product-card .rating .stars .rating-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    color: gold; /* Color for the filled stars */
    pointer-events: none;
}

.product-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
}