:root {
    --body-font-family: Open Sans;
    --title-font-family: Roboto Slab;
    --spacing-top: 30px;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
} */

@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat Italic;
    src: url(/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(/assets/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Open Sans Italic;
    src: url(/assets/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Roboto Slab;
    src: url(/assets/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf);
}


header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 1px solid rgb(200, 200, 200);
}

header .nav {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    gap: 20px;
}

header .search {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .search input {
    width: 100%;
}

main {
    padding: 0 5%;
    margin: 0 auto;
    max-width: 1280px;
}

#content {
    width: 100%;
    padding: var(--spacing-top) 0;
}

footer {
    padding: 20px 5%;
    border-top: 1px solid rgb(200, 200, 200);
    text-align: center;
}