<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../partials/header") %>

    Hello World, Welcome to Minishop!

    <%- include("../partials/footer") %>
</body>
</html>