<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        Hello World, Welcome to Minishop!
    </main>

    <%- include("../partials/footer") %>
</body>

</html>