<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>

    <main>
        <label for="submit">Are you sure you want to sign out?</label><br>
        <div>

            <form action="/logout" method="post">
                <button type="submit" name="submit">Sign out</button>
            </form>
        </div>
    </main>

    <%- include("../partials/footer") %>
</body>

</html>