<header>
    <h1><a href="/">Minishop</a></h1>
    <form action="/search" method="get" class="search">
        <input type="text" name="query" placeholder="Search..." value="<%= query %>">
        <button type="submit">Search</button>
    </form>
    <li>Welcome, <%= firstName %></li>
    <nav>
        <ul>
            <% if (userId) { %>
            <li><a href="/settings/profile">Profile</a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% } %>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </nav>
</header>