<header>
    <h1><a href="/">Minishop</a></h1>
    <form action="/search" method="get" class="search">
        <input type="text" name="query" placeholder="Search..." value="<%= query %>">
        <button type="submit">Search</button>
    </form>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>