<footer>
    <p>&copy; <%= currentYear %> Minishop. All rights reserved.</p>
    <span>Contact Support: <a href="mailto:minishop@mikaelho.land">minishop@mikaelho.land</a></span><br>
    <a href="/faq">FAQs</a>
    <a href="https://github.com/Kaillr/minishop" target="_blank" rel="noopener">GitHub</a>
</footer>