<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../head") %>
</head>

<body>
    <h1><a href="/">Minishop</a></h1>

    <!-- Form without action since we're using JavaScript to handle submission -->
    <form id="registrationForm">
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="Your first name" required>

        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" placeholder="Your last name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <label for="passwordConfirm">Re-Enter password:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" required>

        <button type="submit">Register</button>
    </form>

    <!-- Display errors from server-side validation here -->
    <div id="error" style="color: red;"></div>
    <div id="message" style="color: green;"></div>

    <script src="/js/register.js"></script>

    Already have an account? <a href="/login">Login</a>
</body>

</html>
